@media (min-width: 320px) and (max-width: 575.98px) { 
    .title h2 {
        font-size: 36px;
        font-weight: 600;
    }
    .navbar {
        margin-top: 0px;
        padding: 15px;
        background: rgba(0, 0, 0, 0.553);
        
    }
    .navbar .navbar-nav {
        gap: 5px;
        text-align: center;
    }
    .d-flex {
        justify-content: center;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler i{
        color: #6A4DF4;
    }
    .navbar .navbar-nav{
        gap: 5px;
    }
    /* bannar overlay content */
    .bannar_title {
        font-size: 36px;
        width: auto;
        margin-top: 140px;
    }
    .bannar_description {
        font-size: 16px;
        width: auto;
        margin: 15px auto;
        color: #fff;
    }
    .bannar_main_slider ul {
        left: 44%;
        column-gap: 10px;
    }
    .nav_btn_primary {
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
    }
    /* success part related styles */
    #success_part {
        margin-top: 65px;
    }
    #success_part .main_box {
        display: flex;
        justify-content: center;
        column-gap: 63px;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }
    #success_part .container{
        padding: 45px 25px 15px 38px;  
    }
    #success_part .text h3 {
        text-align: center;
    }
    #success_part .text h3 {
        font-size: 21px;
    }
    #success_part .text h2 {
        font-size: 25px;
        width: auto;
        text-align: center;
    }

    #success_part .main_box .box h2 {
        font-size: 35px;
        font-weight: 700;
    }
    #success_part .main_box .box p {
        font-size: 16px;
        font-weight: 400;
    }
    
    /* services part related styles */
    #services_part{
        padding-top: 75px;
        padding-bottom: 10px;
    }
    #services_part .row {
        row-gap: 2px;
    }
    #services_part .title {
        margin-bottom: 15px;
    }
    #services_part .title p {
        width: auto;
        padding: 0 5px;
    }
    #services_part .services_box {
        padding: 20px 12px;
        border-radius: 13px;
        border-radius: 13px;
    }
    #services_part .services_box h3 {
        font-size: 25px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .title {
        text-align: center;
        padding-bottom: 15px;
    }
    /* recent work related styles */
    #recent_work .title p {
        width: auto;
        padding: 0 25px;
    }
    #recent_work {
        padding: 85px 0;
    }
    #recent_work .title {
        padding-bottom: 50px;
    }
    #recent_work .work_box_text p {
        width: auto;
    }

    /* agenc part related styles */
    #agenc_part {
        padding-top: 100px;
    }
    #agenc_part .title h2 {
        width: auto;
    }
    #agenc_part .title p {
        width: auto;
        padding: 20px;
    }
    #agenc_part .title {
        margin-bottom: 30px;
        margin-bottom: 0px;
    }
    #agenc_part .top p {
        width: auto;
    }
    #agenc_part .gap_dibo{
        margin-top: 0px;
    }
    #agenc_part .top{
        text-align: center;
        margin-top: 0px;
    }
#agenc_part .col-lg-4:nth-child(1){
    order: 1;
}
#agenc_part .col-lg-4:nth-child(2){
    order: 3;
}
#agenc_part .col-lg-4:nth-child(3){
    order: 2;
}
    /* card slider */
    #card_slider .title p {
        width: auto;
        padding-top: 16px;
        padding:0px 20px  0px ;
    }
    #card_slider .title h2{
        color: #6A4DF4;
    }
    #card_slider .container {
        width: auto;
    }
    #card_slider .card_main_slider .card_slider p {
        font-size: 14px;
        padding: 10px 0;
        width: auto;
        text-align: center;
        color: black;
    }
    #card_slider .card_main_slider .card_slider {
        padding: 12px 22px;
    }
    #card_slider .card_main_slider .card_slider .card_footer {
        margin-top: 9px;
        padding-bottom: 20px;
    }
    #card_slider .card_main_slider .slick-center{
        background: #E0FFF9;
    }
    .card_main_slider .fa-angle-left {
        height: 25px;
        width: 25px;
        line-height: 25px;
        left: 130px;
        top: 95%;
        font-size: 12px;
    }
    .card_main_slider .fa-angle-right {
        height: 25px;
        width: 25px;
        line-height: 25px;
        top: 95%;
        right: 130px;
        font-size: 12px;
    }
    /* Development part related styles */
    #development_part .development_text h2 {
        font-size: 30px;
        width: auto;
        text-align: center;
    }
    #development_part .development_text p {
        font-size: 16px;
        width: auto;
        margin-bottom: 0;
    }
    #development_part .flexible_form {
        width: auto;
        padding: 27px 20px;
        height: auto;
        
    }
    #development_part .flexible_form label{
            padding-right: 200px;
            margin-bottom: 5px;
        
    }
    
    #development_part .flexible_form input {
        width: auto;
        height: 44px;
    }
    #development_part .flexible_form button {
        width: 130px;
        height: 45px;
        font-size: 14px;
        margin-top: 6px;
    }
    #development_part .flexible_form {
        align-items: center;
    }
    #development_part {
        padding: 30px 0;
    }
    #development_part .development_text {
        margin-top: 35px;
    }
    /* Footer part related styles */
    footer {
        margin-top: 60px;
    }
    .footer_content {
        text-align: center;
    }
    footer .footer_content p {
        width: auto;
    }
  
    footer .list_item h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    footer .list_item li {
        margin-bottom: 7px;
    }
    footer hr {
        width: 300px;
        height: 1px;
        margin-top: 20px;
    }
    footer h5 {
        margin: 15px 0;
    }
    footer .list_item {
        column-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer .supports {
        text-align: center;
    }
    footer .about{
        text-align: center;
    }
    footer .usful{
        text-align: center;
    }


 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .title h2 {
        font-size: 36px;
        font-weight: 600;
    }
    .navbar {
        margin-top: 0px;
        padding: 15px;
        background: rgba(0, 0, 0, 0.553);
        
    }
    .navbar .navbar-nav {
        gap: 5px;
        text-align: center;
    }
    .d-flex {
        justify-content: center;
    }
    .navbar-toggler{
        border: none;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler i{
        color: #6A4DF4;
    }
    .navbar .navbar-nav{
        gap: 5px;
    }
    /* bannar overlay content */
    .bannar_title {
        font-size: 36px;
        width: auto;
        margin-top: 140px;
    }
    .bannar_description {
        font-size: 16px;
        width: auto;
        margin: 15px auto;
        color: #fff;
    }
    .bannar_main_slider ul {
        left: 44%;
        column-gap: 10px;
    }
    .nav_btn_primary {
        padding: 12px 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 400;
    }
    /* success part related styles */
    #success_part {
        margin-top: 65px;
    }
    #success_part .main_box {
        display: flex;
        justify-content: center;
        column-gap: 63px;
        flex-direction: column;
        text-align: center;
        margin-top: 30px;
    }
    #success_part .container{
        padding: 45px 25px 15px 38px;  
    }
    #success_part .text h3 {
        text-align: center;
    }
    #success_part .text h3 {
        font-size: 21px;
    }
    #success_part .text h2 {
        font-size: 25px;
        width: auto;
        text-align: center;
    }

    #success_part .main_box .box h2 {
        font-size: 35px;
        font-weight: 700;
    }
    #success_part .main_box .box p {
        font-size: 16px;
        font-weight: 400;
    }
    
    /* services part related styles */
    #services_part{
        padding-top: 75px;
        padding-bottom: 10px;
    }
    #services_part .row {
        row-gap: 2px;
    }
    #services_part .title {
        margin-bottom: 15px;
    }
    #services_part .title p {
        width: auto;
        padding: 0 5px;
    }
    #services_part .services_box {
        padding: 20px 12px;
        border-radius: 13px;
        border-radius: 13px;
    }
    #services_part .services_box h3 {
        font-size: 25px;
        font-weight: 500;
        margin: 30px 0 10px;
    }
    .title {
        text-align: center;
        padding-bottom: 15px;
    }
    /* recent work related styles */
    #recent_work .title p {
        width: auto;
        padding: 0 25px;
    }
    #recent_work {
        padding: 85px 0;
    }
    #recent_work .title {
        padding-bottom: 50px;
    }
    #recent_work .work_box_text p {
        width: auto;
    }

    /* agenc part related styles */
    #agenc_part {
        padding-top: 100px;
    }
    #agenc_part .title h2 {
        width: auto;
    }
    #agenc_part .title p {
        width: auto;
        padding: 20px;
    }
    #agenc_part .title {
        margin-bottom: 30px;
        margin-bottom: 0px;
    }
    #agenc_part .top p {
        width: auto;
    }
    #agenc_part .gap_dibo{
        margin-top: 0px;
    }
    #agenc_part .top{
        text-align: center;
        margin-top: 0px;

    }
#agenc_part .col-lg-4:nth-child(1){
    order: 1;
}
#agenc_part .col-lg-4:nth-child(2){
    order: 3;
}
#agenc_part .col-lg-4:nth-child(3){
    order: 2;
}
    /* card slider */
    #card_slider .title p {
        width: auto;
        padding-top: 16px;
        padding:0px 20px  0px ;
    }
    #card_slider .title h2{
        color: #6A4DF4;
    }
    #card_slider .container {
        width: auto;
    }
    #card_slider .card_main_slider .card_slider p {
        font-size: 14px;
        padding: 10px 0;
        width: auto;
        text-align: center;
        color: black;
    }
    #card_slider .card_main_slider .card_slider {
        padding: 12px 22px;
    }
    #card_slider .card_main_slider .card_slider .card_footer {
        margin-top: 9px;
        padding-bottom: 20px;
    }
    #card_slider .card_main_slider .slick-center{
        background: #E0FFF9;
    }
    .card_main_slider .fa-angle-left{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    left: 12px;
    top: 50%;
    
    border-radius: 50%;
}
.card_main_slider .fa-angle-right{
    height: 35px;
    width: 35px;
    text-align: center;
    font-size: 12px;
    line-height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 12px;
    color: #fff;
    background: #4756DF;
    z-index: 999;
}
    /* Development part related styles */
    #development_part .development_text h2 {
        font-size: 30px;
        width: auto;
        text-align: center;
    }
    #development_part .development_text p {
        font-size: 16px;
        width: auto;
        margin-bottom: 0;
    }
    #development_part .flexible_form {
        width: auto;
        padding: 27px 20px;
        height: auto;
        margin-top: 20px;
        
    }
    #development_part .flexible_form label{
            padding-right: 425px;
            margin-bottom: 5px;
        
    }
    
    #development_part .flexible_form input {
        width: 100%;
        height: 44px;
    }
    #development_part .flexible_form button {
        width: 130px;
        height: 45px;
        font-size: 14px;
        margin-top: 6px;
    }
    #development_part .flexible_form {
        align-items: center;
    }
    #development_part {
        padding: 30px 0;
    }
    #development_part .development_text {
        margin-top: 35px;
    }
    /* Footer part related styles */
    footer {
        margin-top: 60px;
    }
    .footer_content {
        text-align: center;
    }
    footer .footer_content p {
        width: auto;
    }
  
    footer .list_item h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    footer .list_item li {
        margin-bottom: 7px;
    }
    footer hr {
        width: 300px;
        height: 1px;
        margin-top: 20px;
    }
    footer h5 {
        margin: 15px 0;
    }
    footer .list_item {
        column-gap: 30px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer .supports {
        text-align: center;
    }
    footer .about{
        text-align: center;
    }
    footer .usful{
        text-align: center;
    }


 }

