/* google inter Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* common shared styles */
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
}
.title h2{
    color: var(--dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
}
.title p{
    color: var(--dark-03, #737373);
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}
/* Navbar Related style */
.navbar{
    margin-top: 50px;
    padding: 0px;
    position: absolute;
    z-index: 9;
    width: 100%;
}
.navbar .navbar-nav{
    gap: 65px;
}
.navbar .navbar-nav .nav-item .nav-link{
    padding: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    transition: .5s;
}
.navbar .navbar-nav .nav-item .active{
    color: #4756DF;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: #4756DF;
}
.nav_btn_primary{
    padding: 15px 42px;
    border-radius: 10px;
    border: none;
    background: #6A4DF4;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

/* Bannar related style */
.bannar_slider_one{
    background-image: url(../images/bannar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bannar_main_slider .overlay{
    background: rgba(0, 0, 0, 0.625);
    padding-top: 1px;
    padding-bottom: 1px;
}
.bannar_slider_two{
    background-image: url(../images/bannar-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bannar_slider_three{
    background-image: url(../images/bannar-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bannar_slider_four{
    background-image: url(../images/bannar-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* bannar overay text related style */
.bannar_title{
    color: #FFF;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    width: 950px;
    margin: 0 auto;
    margin-top: 315px;
    
}
.bannar_description{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 621px;
    margin: 45px auto;
    
}
.bannar_btn{
    display: flex;
    justify-content: center;
    margin-bottom: 176px;
}
/* ======uporer toko bannar image ar jonno======= */
.bannar_main_slider ul{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 53px;
    display: flex;
    column-gap: 20px;
}
.bannar_main_slider ul li{
    list-style: none;

}
.bannar_main_slider ul li button{
    font-size: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 8px solid #4756DF;
    background: #4756DF;
}
.bannar_main_slider ul .slick-active button{
    border: 8px solid #fff;
}
/* Our succetion section related styles */
#success_part{
    margin-top: 171px;
}
#success_part .container{
    border-radius: 20px;
    background: #E0FFF9;
    padding: 85px 25px 86px 38px;
}

#success_part .text h3{
    color: var(--primary-color, #6A4DF4);
    font-size: 25px;
    font-weight: 500;
}
#success_part .text h2{
    color: var(--dark-01, #151515);
    font-size: 35px;
    font-weight: 600;
    width: 387px;
}
#success_part .main_box{
    display: flex;
    justify-content: end;
    column-gap: 110px;
}
#success_part .main_box .box h2{
    color: var(--dark-01, #151515);
    font-size: 50px;
    font-weight: 700;
}
#success_part .main_box .box p{
    color: var(--dark-03, #737373);
    font-size: 20px;
    font-weight: 500;
}
/* Service section related styles */
#services_part{
    padding-top: 149px;
    padding-bottom: 103px;
}
#services_part .row{
    row-gap: 24px;
}
#services_part .title{
    margin-bottom: 50px;
}
#services_part .title p{
    width: 609px;
    margin-top: 20px;
}
#services_part .services_box{
    padding: 80px 49px 47px;
    text-align: center;
    border-radius: 20px;
    transition: all linear 0.4s;
}
#services_part .services_box:hover{
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
}
#services_part .services_box h3{
    color: var(--dark-01, #151515);
    font-size: 25px;
    font-weight: 700;
    margin: 40px 0 20px;
}
#services_part .services_box p{
    color: var(--dark-03, #737373);
    font-size: 16px;
    font-weight: 400;
    width: auto;
    margin: 0 auto;
}
/* Recent Work related styles */
#recent_work .row{
    row-gap: 24px;
}
#recent_work{
    padding: 150px 0;
    background: #F3F3F3;
    border-radius: 20px;
    margin: 0 5px;
}
#recent_work .title{
    padding-bottom: 106px;
}
#recent_work .title p{
    width: 620px;
    margin-top: 20px;
}
/* box related */
#recent_work .work_main_box{
    background: #fff;
    border-radius: 20px;
    text-align: center;
}
#recent_work .work_main_box img{
    width: 100%;
}
#recent_work .work_box_text{
    padding: 30px 42px;
}
#recent_work .work_box_text h3{
    color: var(--dark-01, #151515);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
#recent_work .work_box_text p{
    color: var(--dark-03, #737373);
    font-size: 16px;
    font-weight: 400;
    width: 340px;
    margin: 0 auto;
}
/* Agenc section related styles */
#agenc_part{
    padding-top: 150px;
}
#agenc_part .title{
    margin-bottom: 130px;
}
#agenc_part .title h2{
    width: 518px;
    margin: 0 auto;
}
#agenc_part .title p{
    width: 802px;
    padding-top: 20px;
}
#agenc_part .top h3{
    color: var(--dark-01, #151515);
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 10px;
}
#agenc_part .top p{
    color: var(--dark-03, #737373);
    font-size: 16px;
    font-weight: 400;
    width: 344px;
}
.gap_dibo{
    margin-top: 95px;
}
.agenc_photo {
    width: 100%;
    border-radius: 20px;
}
/* Card slider related styles */
#card_slider .card_main_slider{
    position: relative;
}
#card_slider .title p{
    width: 620px;
    padding-top: 20px;
    padding-bottom: 100px;
}
/* slider related */
.card_main_slider .fa-angle-left{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 12px;
    top: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    background: #4756DF;
    z-index: 999;
    
    border-radius: 50%;
}
.card_main_slider .fa-angle-right{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 12px;
    color: #fff;
    background: #4756DF;
    z-index: 999;
}

#card_slider{
    margin: 106px 0;
}
#card_slider .container{
    width: 1344px;
}
#card_slider .card_main_slider .card_slider{
    padding: 54px 58px;
    border-radius: 30px;
    width: 424px;
    margin: 0 12px;
    transition: all linear .4s;
}
#card_slider .card_main_slider .slick-center{
    background: #F4EFEF;
}
#card_slider .card_main_slider .card_slider p{
    color: var(--dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    width: 307px;
    margin: 0 auto;
}
#card_slider .card_main_slider .card_slider i{
    color: #F9BD2C;
}
#card_slider .card_main_slider .card_slider .card_footer{
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
}
#card_slider .card_main_slider .card_slider .card_footer .card_text .card_text_1{
        color: var(--dark-01, #232323);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
}
/* development part related styles */
#development_part{
    background: #F3F3F3;
    padding: 150px 0;
    border-radius: 20px;
    margin:0 5px;
}
#development_part .development_text{
    margin-top: 120px;
}
#development_part .development_text h2{
    color: var(--dark-01, #151515);
    font-size: 45px;
    font-weight: 700;
    width: 470px;
}
#development_part .development_text p{
    color: var(--dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    width: 514px;
}
#development_part .flexible_form{
    display: flex;
    flex-direction: column;
    padding: 61px 43px;
    border-radius: 20px;
    width: 536px;
    height: 622px;
    flex-shrink: 0;
    background: #fff;
}
#development_part .flexible_form h3{
    text-align: center;
    color: var(--dark-01, #151515);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
#development_part .flexible_form input{
    width: 450px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid var(--dark-06, #E8E8E8);
    padding: 19px 0 19px 23px;
    margin-bottom: 20px;
    outline: none;
}
#development_part .flexible_form button{
    width: 450px;
    height: 64px;
    border-radius: 10px;
    border: none;
    background: var(--primary-color, #6A4DF4);
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
/* footer related styles */
footer{
    margin-top: 150px;
}
footer .list_item{
    display: flex;
    column-gap: 120px;
    justify-content: flex-end;

}
footer .list_item li{
    list-style: none;
}
footer .footer_content p{
    color: var(--dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    width: 356px;
    margin-top: 30px;
}
footer .list_item h2{
    color: var(--dark-01, #151515);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}
footer .list_item li{
    color: var(--dark-03, #7B7B7B);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
footer h5{
    color: var(--dark-05, #D0D0D0);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 33px 0;
}
footer hr{
    width: 1320px;
height: 1px;
background: #E8E8E8;
margin: 0 auto;
margin-top: 50px;
}